  <div class="navbar_custom">


    <ul class="list_inline">

      <li class="list_inline" id="img">
        <%= image_tag("rocket_logo.png") %>
      </li>

      <%= link_to root_path do %>
        Home
      <% end %>

      <li class="list_inline"><a href=""></a>
      </li>

      <%= link_to mybookings_path do %>
        My Reservations
      <% end %>

      <%= link_to myposts_path do %>
        My Posts
      <% end %>

      <%= link_to create_path do %>
        Create a Post
      <% end %>

      <%= link_to user_session_path do %>
        Log-in
      <% end %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        Log-out
      <% end %>
    </ul>


  </div>
