<div>
    <%= simple_form_for @rocket do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.input :capacity %>
      <%# <%= f.input :country %>
      <%= f.input :town %>
      <%= f.input :price %>
      <%= f.submit "Update" %>
    <% end %>
</div>
