<div class="header">
  <%= form_with url: rockets_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a rocket"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @rockets.each do |rocket| %>
      <%= link_to rocket_path(rocket) do %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= rocket.name %></h5>
              <p class="card-text"><%= rocket.price %></p>
              <% if rocket.photo.attached? %>
                <%= cl_image_tag rocket.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
</div>
