<div>

  <div class="container-post">
  <h1 class="title-white">My posts</h1>

  <%= link_to "Create", new_rocket_path, class:"btn-red-2" %>
  </div>

  <div>
      <% @rockets.each do |rocket| %>
        <div class="card-post">
          <% if rocket.photo.attached? %>
            <%= cl_image_tag rocket.photo.key, height: 180, width: 230, crop: :fill %>
            <% else %>
            <%= image_tag("Fusée1.png", class:"image-placeholder") %>
          <% end %>
          <div class="card-inpost">
            <h3 class="title-blue"><%= rocket.name %></h3>
            <%= link_to "Update", update_path, class:"btn-red-2" %>
            <%= link_to "Delete", delete_path, class:"btn-red-2" %>
          </div>
        </div>
      <% end %>

  </div>

</div>
