<div class="container-white-2">
      <%= simple_form_for @rocket do |f| %>
        <%= f.input :name, class:"form-design form-text" %>
        <%= f.input :photo, as: :file %>
        <%= f.input :capacity, class:"form-design form-text" %>
        <%# <%= f.input :country %>
        <%= f.input :town %>
        <%= f.input :price %>
        <%= f.submit "Create", class:"btn-red-2" %>
      <% end %>
</div>
