<div class="container-white-2">
  <div>
    <h1>Rocket name</h1>
    <p class="font"><%= @rocket.name %></p>
    <h2>Owner</h2>
    <p class="font"><%= @rocket.user.name %></p>
  </div>

  <div class="rocket-show-card-top">
    <div>
      <h2>Capacity:</h2>
      <p class="font"><%= @rocket.capacity %></p>
      <h2>Price:</h2>
      <p class="font"><%= @rocket.price %></p>
    </div>
      <%# <%= image_tag "Fusée5.png", alt: "Fusee5", width: 200 %>
      <% if @rocket.photo.attached? %>
        <%= cl_image_tag @rocket.photo.key, height: 200, width: 200, crop: :fill %>
      <% end %>
  </div>


  <div class="rocket-show-card-top">
    <div>
      <a href="app/assets/images/map.png"></a>
      <div class="">
        <h2>City </h2>
        <p class="font"><%= @rocket.town %></p>
      </div>
    </div>
  </div>

    <div style="width: 98%; height: 200px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <div class="rocket-show-card-button">
  <%= simple_form_for([@rocket, @book]) do |f| %>
    <%= f.input :start_date, input_html: {class:"form-design form-text"} %>
    <%= f.input :end_date, input_html: {class:"form-design form-text"} %>
  <%= f.submit "Book", class:"btn-red-2" %>
      <% end %>
  </div>
  <div class="footer">
  </div>


</div>
