
<div>

  <div class="container-title">
    <h1 class="title-white">My Bookings</h1>
  </div>

  <div>
      <% @books.each do |book| %>
        <div class="card-booking">
          <div>
          <p><%= book.rocket.name %></p>
            <div class="content-text">
              <div>

                  <p class="text-blue">Departure : </p>
                  <p class="text-blue">Arrival   : </p>
                  <p class="text-blue">City      : </p>
                  <p class="text-blue">Capacity  : </p>
                  <p class="text-blue">Price     : </p>
              </div>
              <div>
                <p class="text-blue"> <%= book.start_date %></p>
                <p class="text-blue"> <%= book.end_date %></p>
                <p class="text-blue"> <%= book.rocket.town %></p>
                <p class="text-blue"> <%= book.rocket.capacity %></p>
                <p class="text-blue"> <%= book.rocket.price%></p>
              </div>
             </div>
              <% if book.rocket.photo.attached? %>
          </div>
          <div>
              <%= cl_image_tag (book.rocket.photo.key), height: 280, width: 310 %>
              <% end %>
          </div>
        </div>
      <% end %>

  </div>

</div>
